<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>

  <body>
    <!-- Navigation -->
    <%- include('partials/_navigation') %>

    <!-- Page Header -->
    <header class="masthead" <% if(post.images[0]) { %>
      style="background-image: url('/uploads/<%=post.images[0]%>')" <% } else { %>
      style="background-image: url('/img/post-bg.jpg')" <%}%>>

      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1><%=post.title%></h1>
              <h2 class="subheading"><%=post.subTitle%></h2>
              <span class="meta"
                >Posted by
                <a href="#"><%=post.author%></a>
                at <%=post.updatedAt%>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row"><%-post.postBody%></div>
      </div>
    </article>
    <div class="d-flex">
      <a href="/post/edit_post/<%=post._id%>" class="btn btn-primary mx-auto">Edit Post</a>
      <a href="/post/delete_post/<%=post._id%>" class="btn btn-danger mx-auto">Delete Post</a>
    </div>
    <hr />

    <!-- Footer -->
    <%- include('partials/_footer') %>
  </body>
</html>
